body{
    background:#e9ecf0;
    margin:30px;
}

.container{
    margin:auto;
    background:white;
    padding:20px;
    border-radius:50px;
    box-shadow:0 0 10px rgba(0,0,0,.20);
}
h1,h2{
    color:#3e6ccf;
}


.question{
    margin-top:20px;
    padding-bottom:11px;
    border-bottom:3px solid black;
}

label{
    display:block;
    margin:10px;
}

input[type=text],
input[type=email],
input[type=date],
input[type=radio]{
    padding:10px;
    margin-bottom:21px;
    box-sizing:border-box;
}

input[type=submit]{
    background:#1a54d2;
    color:white;
    padding:10px 25px;
    font-size:30px;
}